@font-face {
  font-family: Ardent;
  font-style: normal;
  src: url(./assets/fonts/AdventPro-Regular.ttf);
}


body {
  background-color: #1c1c1c;
  color: #eee;
  font-family: Ardent;
  text-align: center;
  margin: 20px;
}

header {
  margin-bottom: 40px;
}

.todoapp {
  max-width: 450px;
  margin: 0 auto;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 8px;
}

.todoapp .date {
  color: #444;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5mm;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.todoapp h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
}

.todos {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.todos li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #333;
  padding: 2em 1em;
}

.todos li.completed {
  text-decoration: line-through;
}

.todos .btn-todo_complete {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #333;
  font-size: 18px;
  width: 40px;
  height: 40px;
}

.todos .btn-todo_complete.completed {
  background-color: #eee;
  cursor: pointer;
}

input[type="text"] {
  appearance: none;
  background-color: #000;
  width: calc(100% - 20px);
  padding: 25px 10px;
  margin-bottom: 10px;
  border: none;
  color: #eee;
  font-size: 18px;
  opacity: 0;
}

input[type="text"].show {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-color: dodgerblue;
}

.todoapp .form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.add-todo {
  cursor: pointer;
}
