@font-face {
  font-family: Ardent;
  font-style: normal;
  src: url(./assets/fonts/AdventPro-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c1c;
  color: #eee;
  font-family: Ardent;
  text-align: center;
}

header {
  margin-bottom: 10px;
  padding: 30px;
}

.container {
  background-color: transparent;
  padding: 20px;
}

.hidden {
  visibility: hidden;
}

.todoapp {
  max-width: 450px;
  margin: 0 auto;
  background-color: #000;
  height: 100vh;
  overflow-y: scroll;
}

.todoapp::-webkit-scrollbar {
  display: contents;
  opacity: 0;
  width: 5px;
  height: 5px;
}

.todoapp::-webkit-scrollbar-thumb {
    background: rgba(255, 217, 0, 0.11);
    border-radius: 10px;
}

.todoapp:hover::-webkit-scrollbar-thumb {
    background: gold;
}

.todoapp:hover::-webkit-scrollbar {
    display: block;
}

.todoapp .date {
  color: #444;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5mm;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.todoapp .filters {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin: 20px 0;
  padding: 30px;
}

.todoapp .filters button {
  background-color: #eee;
  border: 1px solid #333;
  cursor: pointer;
  font-family: Ardent;
  font-size: 14px;
  padding: 1em;
  transition: background 300ms ease-in;
  width: 90px;
}

.todoapp .filters button:focus {
  background-color: rgb(204, 177, 25);
}

.todoapp h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
}

.todoapp .loader-wrapper {
  display: flex;
  justify-content: center;
}

.todoapp .loading-indicator {
  margin-top: 20px;
  text-align: center;
  border: 3px solid #f3f3f3;
  border-top: 3px solid gold;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.todoapp .error-message {
  margin-top: 20px;
  text-align: center;
  color: #f17f7f;
}

.todos {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.todos .delete-todo {
  background-color: #38141482;
  display: none;
  padding: 2.5em 1em;
  position: absolute;
  left: 0;
  width: 408px;
}

.todos .delete-todo.show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.todos .delete-todo span {
  color: #f5bcbc;
  cursor: pointer;
}

.todos li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  padding: 2em;
  position: relative;
}

.todos li:last-child {
  border-bottom: none;
}

.todos li span {
  max-width: 80%;
}

.todos li span.completed {
  text-decoration: line-through;
}

.todos .btn-todo_complete {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #333;
  font-size: 18px;
  width: 40px;
  height: 40px;
}

.todos .btn-todo_complete.completed {
  background-color: #eee;
  cursor: pointer;
}

input[type="text"] {
  appearance: none;
  background-color: #1c1c1c;
  width: calc(100% - 20px);
  padding: 25px 20px;
  margin-bottom: 10px;
  border: none;
  color: #eee;
  font-size: 18px;
  opacity: 0;
}

input[type="text"].show {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

input[type="text"]:focus {
  outline: 1px solid rgba(255, 217, 0, 0.308);
}

.todoapp .form {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 30px;
}

.add-todo {
  cursor: pointer;
}
